.name-card {
  padding: 20px;
  border-radius: 8px;
  background-color: var(--color-red-400);
  width: 300px;
  box-shadow: var(--shadow-card);
}

.name-card__title {
  font-family: var(--font-sans);
  font-weight: 900;
  color: #fff;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.name-card__subtitle {
  font-family: var(--font-sans);
  font-weight: 900;
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.name-card__divider {
  background-color: var(--color-slate-50);
  width: 100%;
  height: 100px;
  margin-top: 16px;
}