@import 'tailwindcss';
@import './definition.css';

html {
  --major: 400px;
  --minor: 80px;

  overflow-x: clip;

  background-color: var(--color-slate-700);
  background-image:
    linear-gradient(to right, var(--color-slate-400) 2px, transparent 2px),
    linear-gradient(to bottom, var(--color-slate-400) 2px, transparent 2px),
    linear-gradient(to right, var(--color-slate-500) 2px, transparent 2px),
    linear-gradient(to bottom, var(--color-slate-500) 2px, transparent 2px);
  background-size:
    var(--major) var(--major),
    var(--major) var(--major),
    var(--minor) var(--minor),
    var(--minor) var(--minor);
  background-repeat: repeat;
  background-position: center top;
  background-attachment: scroll;
}

body {
  margin: 0;
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  font-weight: 400;
  line-height: 1.1;
}